POSTGRES_USER=demo
POSTGRES_PASSWORD=secret
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=mydb

SCHEDULE_STR=* * * * *
TEXT=hola mundo

# Pon 0 para desarrollar sin Postgres (usará datos mock)
ENABLE_DATABASE=1