POSTGRES_USER=demo
POSTGRES_PASSWORD=secret
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=mydb

SCHEDULE_STR=*/5 * * * * *
TEXT=hola mundo

# Pon 0 para desarrollar sin Postgres (usará datos mock)
ENABLE_DATABASE=1
DATABASE_URL=postgresql://demo:secret@localhost:5432/mydb


DB_SCHEMA=public
DB_TABLE=sensor_data